# Cargar Librerias

In [22]:
import pandas as pd
import chardet

# Cargar Dataset y Categorias

In [50]:
df = pd.read_csv('vino.csv',encoding = 'latin1',sep=';')

Viña = ['almaviva','amaral','ardmore','baettig','baron philippe de rothschild','bodegas re','bollinger','bordeaux arsius','calcu','campari','casa boher','casa marin','clos de luz',
        'clos quebrada de macul','concha y toro','cono sur','dagaz','de martino','encierra','errazuriz','finlaggan','haras de pirque','henriot','koyle','la marniniquaise',
        'la republica','lapostolle','ld vins','lof','los boldos','louis latour','louis roederer','maquis','miguel torres','montgras','oban','san pedro','sena','taittinger',
        'undurraga','ventisquero','veramonte','viu manent','vollereaux','yerbasanta']

Tipo = ['espumosos','vinos']

Cepa = ['blend','cabernet franc','cabernet sauvignon','carignan','carmenere','chardonnay','cinsaul','dry rose','garnacha','malbec','merlot','mezcla blanca','mezcla tinta',
        'mezcla tinta - blanca','moscatel de alejandria','pinot noir','prosecco','rose','sauvignon blanc','semillon','syrah','touriga nacional','viognier']

Ofertas = ['oferta','promocion','ofertas','promociones','descuento']

Otro = ['mejores','mejor','mundo']

## Eliminar NaN

In [ ]:
df[Viña] = df[Viña].dropna()
df[Viña] = df[Viña].dropna()

In [51]:
df.head()

,Keyword,Avg. monthly searches,Competition,Viña,Tipo,Cepa,Info,Ofertas
0,vino tinto,5000.0,Alto,NaN,NaN,NaN,NaN,NaN
1,vino malbec,5000.0,Alto,NaN,NaN,NaN,NaN,NaN
2,vinos y licores,500.0,Alto,NaN,NaN,NaN,NaN,NaN
3,vinos de,50.0,Alto,NaN,NaN,NaN,NaN,NaN
4,el vino,500.0,Medio,NaN,NaN,NaN,NaN,NaN